
body{
    margin: 0px;
}
h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;

}
a{
    text-decoration: none;
    color: #e5e7eb;
}
.header {
    background-color: #1f2937;
    display: flex;
}
.menu{
    font-size: 18px;
    
}
.logo {
    font-size: 24px;
    color: #F9FAF8;
}
.cont{
    color:#e5e7eb;
}
button{
    border-radius: 10px;
    color:blue;
    border: none;
}
.head{
    display: flex;
}
.content{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
img{
    height: 300px;
    width: 370px;
}
.infohead{
    display: flex;
    flex-direction: column;
}